// Configuration for the body
.main-page-content{
    transition: all .3s;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    //overflow-x: hidden;
}