//color
$primary-color: #01D4E4;
$secondary-color: #5935FF;
$brand-gradient: linear-gradient(37.87deg, #0194FF 20.9%, #01EADA 78.55%);

// grey-colors
$white: #FFFFFF;
$grey-500: #F6F6F9;
$grey-400: #737380;
$grey-300: #27272D;
$grey-200: #27272D;
$grey-100: #17171B;